html, body {
	height: 100%;
	overflow: hidden;
}

.container {
	height: 100%;
}

.debug-line, .bits-control {
	margin: 5px 0;
	font-size: 14px;
	font-family: Arial
}

.debug-line {
	padding-top: 3px;
	height: 40px;
	width: 725px
}

.debug-line > #hashLabel {
	font-weight: bold;
}

.bits-control {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 540px
}

.bits-control > input {
	margin-right: 0px;
	width: 475px
}

#map {
	height: calc(100% - 45px);
}
