html, body {
	height: 100%
}

.container {
	height: 99%;
	margin: 10px;
}

.debug-line, .bits-control {
	margin: 5px 0
}

.debug-line {
	width: 800px
}

.debug-line > #hashLabel {
	font-weight: bold;
}

.bits-control {
	float: right;
	width: 525px
}

.bits-control > input {
	width: 90%
}

#map {
	height: 95%;
}
